[MASTER]
disable=
    missing-module-docstring,
    import-error,
    wrong-import-order,
    wrong-import-position,
    invalid-name,
    too-few-public-methods,
    missing-class-docstring,
    missing-function-docstring,
    bad-continuation

max-line-length=88
